
config rgbcontrol settings
    option enabled '0'
    option period '51000'
    option leds_mode 'default'
    option leds_color '00F5FF'
    option leds_brightness '100'
    option pwm_path '/sys/class/pwm'
    option pwm_name 'pwmchip0'
    option red_pwm_name 'pwm1'
    option green_pwm_name 'pwm2'
    option blue_pwm_name 'pwm3'
    option red_led_tweak '255'
    option green_led_tweak '255'
    option blue_led_tweak '255'